<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AttributeCaching" version="2.0.3" targetFramework="net462" />
  <package id="Autofac" version="4.6.0" targetFramework="net462" />
  <package id="EnterpriseLibrary.Common" version="6.0.1304.0" targetFramework="net462" />
  <package id="EnterpriseLibrary.Data" version="6.0.1304.0" targetFramework="net462" />
  <package id="log4net" version="2.0.8" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.Practices.EnterpriseLibrary.Common.dll" version="3.1.0" targetFramework="net462" />
  <package id="Microsoft.Practices.EnterpriseLibrary.Data.dll" version="3.1.0" targetFramework="net462" />
  <package id="Microsoft.Practices.ObjectBuilder.dll" version="3.1.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.1" targetFramework="net462" />
  <package id="OctoPack" version="3.5.2" targetFramework="net462" developmentDependency="true" />
  <package id="OctoPack.Precompile" version="2.0.1" targetFramework="net462" developmentDependency="true" />
  <package id="Shaspect" version="1.2.0" targetFramework="net462" />
  <package id="System.Collections" version="4.3.0" targetFramework="net462" />
  <package id="System.Collections.Immutable" version="1.3.1" targetFramework="net462" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net462" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net462" />
  <package id="System.Linq" version="4.3.0" targetFramework="net462" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net462" />
  <package id="System.Threading" version="4.3.0" targetFramework="net462" />
</packages>